               /* -----MAIN CONTAINER -----*/
*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color:rgb(252, 249, 249);
    font-family:"Nunito" sans-serif;
    font-weight: 400;
}
.overall{
    overflow-x: hidden;
}
nav{
    height: 90px;
    background-color:rgb(4, 84, 181);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
}

                    /* ------------------------MAIN CONTAINER ---------------------- */

nav .main-container img{
    margin-top: 10px;
    width: 30%;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0 30px;
}
nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    color: white
}
nav ul li a:hover,
nav ul li a.active
{
color: black;
}
nav .menu-btn svg{
    color:black;
    font-size: 70px;
    cursor: pointer;
    display: none;
}
#click {
    display: none;
}
@media  (max-width: 940px){
    nav .menu-btn svg{
        display: block;
    }
   nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: white;
    height: 100vh;
    width: 100%;
    display: block;
    transition: all 0.3s ease;
}
#click:checked ~ ul{
    left: 0%;
}
nav ul li{
    margin: 40px 0;
    text-align: center;
    color: #145388;
}
nav ul li a{
    color: #145388;
}
}

                 /* ------------BODY SECTION--------------- */

.main-section
{
 color: #145388;
    box-shadow: 5px 5px 5px 5px #dad6d6;
    margin: 70px 170px;
}
.main
{
    margin: 0px 30px 0px 30px;
}
.main li{
    padding: 20px 20px 10px 20px;
    font-size: 20px;
    margin-left: 35px;
}
.heading
{
    font-size: 50px;
    margin: 10px;
    padding: 20px;
}

.QR-image img{
    width: 300px;
    height: 300px;
    margin-left: 200px;
}


                     /*-------------- MEDIA QUERY 500px ------------------- */


@media screen and (max-width: 500px){
    .heading{
        font-size: 35px;
    }
.main-section{
    width: auto;
    height: 750px;
    margin: 30px 0px 0px 0px;
}
nav .main-container img{
    width: 50%;
    margin-left: -30%;
}
.QR-image img
{
    width: 150px;
    height: 150px;
    margin-left:100px ;
    margin-top: 15px;
}

}


                        /* ---------------MEDIA QUERY 501px-700px--------------- */


@media screen and (max-width: 700px) and (min-width: 501px){
    .main-section
    {
        width: 500px;
        margin: 0px;
        padding: 0px;
    }
    
    .QR-image img
    {
      margin-left: 150px;
      width: 150px;
      height: 150px;
    }
    .main-section{
      margin-left: 15%;
    }
}

                  /* ---------------MEDIA QUERY 701px-900px--------------- */


                  @media screen and (max-width: 900px) and (min-width: 701px){
                    .main-section
                    {
                        width: 500px;
                        margin: 0px;
                        padding: 0px;
                    }
                    
                    .QR-image img
                    {
                      margin-left: 150px;
                      width: 150px;
                      height: 150px;
                    }
                    .main-section{
                      margin-left: 15%;
                    }
                }
                
                 /* ---------------MEDIA QUERY 1200px-901px--------------- */


                 @media screen and (max-width: 1200px) and (min-width: 901px){
                    .QR-image img
                    {
                      margin-left: 190px;
                      width: 150px;
                      height: 150px;
                      margin-bottom: 70px;
                      margin-top: 20px;
                    }
                }